@font-face {
    font-family: 'THSarabun';
    src: url('../fonts/THSarabun.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'iannnnniso';
    src: url('../fonts/2006_iannnnniso.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'iannnnnjpg';
    src: url('../fonts/2006_iannnnnjpg.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'ks_ksam';
    src: url('../fonts/ks_ksam.ttf') format('truetype');
    font-weight: normal;
    font-weight: normal;
}